body
{
    background-image: url(../media/login2.jpg);
    background-size: 100% 710px;
    padding-top: 50px;
}

#nav
{
    color: white;       
    padding-top: 30px;
    padding-left: 60px;
    font-size: 35px;
    background: red;
    width: 470px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    opacity: .8;
}

#nav input[type="checkbox"]
{
    margin-top: 5px;
    margin-left: 90;
    width: 25px;
}

#nav input[type="submit"]
{
    margin-top: 10px;
    width: 150px;
    border-radius: 50px;
    margin-left: 35px;
    height: 50px;
    background: blue;
    color: white;
    font-weight: bold;
}

#nav input[type="submit"]:hover
{
    background: white;
    color: blue;
    
}